{% extends 'basepage.html' %}
  {% block content %}
<div style="padding-top:24px;background-color:white"><h2><center>Add Students</center></h2><hr></div><br>
<div class="container">
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-success" role="alert">
    <center>{{ message }}</center>
  </div>
  {% endfor %}
{% endif %}
<h5>Enter Student Emails</h5> 
<p style="color:grey">for multiple students press enter after each (go to next line)</p>
   <br>
   <form action="{% url 'addstud' list_id %}" method="POST">
	{% csrf_token %}
	<div class="row">
	<div class="col-6 col-sm-5">
  <textarea name="message" rows="15" cols="60" required></textarea>
  </div>
  <div class="col-6 col-sm-5">
  <input type="submit" value="Add Student(s) and Send Invite">
  </div></div>
</form>
{% if name %}
<br>
<p>Student Emails just added: {{name}}</p>
	<a class="btn btn-warning" href='mailto:{{name}}?Subject=Course%20Invite&body=Click%20the%20following%20link%20to%20register%20for%20the%20course:%20http://127.0.0.1:8000/courses'>Send custom Email Invite</a>
{% endif %}
    <a href="/courses">
	<button class="btn btn-outline-primary" >Done</button></a>
	<br><br>
</div>
{% endblock %}